# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

env:
  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "ePnL8LMk+L6OC4FjkiCS8LnmTYgj6Z+5gLjy2cMidHAuyh+3mLEpICIoHl+49Q4xq0xAEygJrOELWCOi9GZg00bToc5I55aIrpCGRnWzbKZ+lzlzTkEQEK9/3o6J2qOLJEowAQLBdTn863L9VRmz/f2w/wuTV39vUDoCFUzm/M4grdaofpMU/WbMJgY6Oo1Mb8P6V61JtJYErjcrryxP65QPuZLPCg2fHwLPGeYjYpGILQLtAM5Tv6PKaWKC5C65bDLV6CP1A82wU7QZwcIwtxTjWG2t818NnNLr7WgTDNSr87hPflIaYEx5pBfC7EYG7Ti8LLwhAXXWFfsUozojqHGtTqME1y6B4QhqjU0l0LlExbPjEWHzwaa+oim7qjhYHvazm7R1ciX4kbWXTfxnnP0ccmAHcJ32qw8Nwfq9XB9vA0ZylAl47cR3yzayiUdmA4ihgROkdUg7E6A+HxiF+wONHEBak4Q4+81tIVNr78YAAueyGGQhlqkdu5WpKwa/juywFWDl/uhiboenUVNCUerUG4Oo1l9xSr66kPrK2QYMWM/COnMLRFZdKmwztlniuAG5zSyporT4DofyauUNWHJB2koF6xQ/FmYw31Xmrq4CvEsAW+Z2NnmEXuwk5Q5xYhncs5zZvMBFkE49MF0CX2dPPXD966or8twERKtEk6s="

matrix:
  include:
    - env: CONFIG=linux_ppc64le_python3.6 UPLOAD_PACKAGES=True PLATFORM=linux-ppc64le DOCKER_IMAGE=condaforge/linux-anvil-ppc64le
      os: linux-ppc64le

    - env: CONFIG=linux_ppc64le_python3.7 UPLOAD_PACKAGES=True PLATFORM=linux-ppc64le DOCKER_IMAGE=condaforge/linux-anvil-ppc64le
      os: linux-ppc64le

    - env: CONFIG=linux_ppc64le_python3.8 UPLOAD_PACKAGES=True PLATFORM=linux-ppc64le DOCKER_IMAGE=condaforge/linux-anvil-ppc64le
      os: linux-ppc64le

script:
  - export CI=travis
  - export GIT_BRANCH="$TRAVIS_BRANCH"


  - if [[ ${PLATFORM} =~ .*linux.* ]]; then ./.scripts/run_docker_build.sh; fi